<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C# Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax C# Driver - Result paging</title>

    <link rel="icon" href="../../favicon.ico">
    <link rel="apple-touch-icon" href="../../favicon.png">
    <link href="../../css/style.css" rel="stylesheet">
    <link href="../../css/pygments.css" rel="stylesheet">
    <link href="../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../"><img alt="Brand" src="../../img/logo.png">DataStax C# Driver</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('v3.0')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              
              
              
              <li><a href="../../">Home</a></li>
              
              
              
              
              
              <li><a href="../">Features</a></li>
              
              
              
              
              
              <li class="active">Result paging</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li><a href="#result-paging">Page Top <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
<li><a href="#automatic-paging">Automatic paging
</a></li>
<li><a href="#manual-paging">Manual paging
</a></li>
<li><a href="#automatic-paging-in-linq-and-mapper-components">Automatic paging in LINQ and Mapper components
</a></li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../faq/">FAQ <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../address-resolution/">Address resolution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../automatic-failover/">Automatic failover <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../datatypes/">CQL data types to C# types <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../connection-heartbeat/">Connection heartbeat <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../connection-pooling/">Connection pooling <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../components/">Driver components <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../parametrized-queries/">Parameterized queries <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../query-warnings/">Query warnings <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Result paging <small>page</small></a>
    
  </li>
  
  
  
  
  <li>
    <a href="../routing-queries/">Routing queries <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../speculative-retries/">Speculative query execution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../tuning-policies/">Tuning policies <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../udfs/">User-defined functions and aggregates <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../udts/">User-defined types <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h1 id="result-paging" class="target">Result paging<a class="anchor" href="#result-paging" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<h2 id="automatic-paging" class="target">Automatic paging<a class="anchor" href="#automatic-paging" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>You can iterate indefinitely over the <code>RowSet</code>, having the rows fetched block by block until the rows available on the
client side are exhausted.</p>
<pre class="highlight"><code><span class="n">var</span> <span class="n">ps</span> <span class="p">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">Prepare</span><span class="p">(</span><span class="s">"SELECT * from tbl1 WHERE key = ?"</span><span class="p">);</span>
<span class="c1">// Set the page size at statement level.
</span><span class="n">var</span> <span class="n">statement</span> <span class="p">=</span> <span class="n">ps</span><span class="p">.</span><span class="nf">Bind</span><span class="p">(</span><span class="n">key</span><span class="p">).</span><span class="nf">SetPageSize</span><span class="p">(</span><span class="m">1000</span><span class="p">);</span>
<span class="n">var</span> <span class="n">rs</span> <span class="p">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">Execute</span><span class="p">(</span><span class="n">statement</span><span class="p">);</span>
<span class="k">foreach</span> <span class="p">(</span><span class="n">var</span> <span class="n">row</span> <span class="k">in</span> <span class="n">rs</span><span class="p">)</span>
<span class="p">{</span>
   <span class="c1">// The enumerator will yield all the rows from Cassandra.
</span>   <span class="c1">// Retrieving them in the back in blocks of 1000.
</span><span class="p">}</span>
</code></pre>
<h2 id="manual-paging" class="target">Manual paging<a class="anchor" href="#manual-paging" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>If you want to retrieve the next page of results only when you ask for it (for example, in a webpager), use the
<code>PagingState</code> property in the <code>RowSet</code> to execute the following statement.</p>
<pre class="highlight"><code><span class="n">var</span> <span class="n">ps</span> <span class="p">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">Prepare</span><span class="p">(</span><span class="s">"SELECT * from tbl1 WHERE key = ?"</span><span class="p">);</span>
<span class="c1">// Disable automatic paging.
</span><span class="n">var</span> <span class="n">statement</span> <span class="p">=</span> <span class="n">ps</span>
   <span class="p">.</span><span class="nf">Bind</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">SetAutoPage</span><span class="p">(</span><span class="k">false</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">SetPageSize</span><span class="p">(</span><span class="n">pageSize</span><span class="p">);</span>
<span class="n">var</span> <span class="n">rs</span> <span class="p">=</span> <span class="n">session</span><span class="p">.</span><span class="nf">Execute</span><span class="p">(</span><span class="n">statement</span><span class="p">);</span>
<span class="c1">// Store the paging state
</span><span class="n">var</span> <span class="n">pagingState</span> <span class="p">=</span> <span class="n">rs</span><span class="p">.</span><span class="n">PagingState</span><span class="p">;</span>

<span class="c1">// Later in time ...
// Retrieve the following page of results.
</span><span class="n">var</span> <span class="n">statement2</span> <span class="p">=</span> <span class="n">ps</span>
   <span class="p">.</span><span class="nf">Bind</span><span class="p">(</span><span class="n">key</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">SetAutoPage</span><span class="p">(</span><span class="k">false</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">SetPagingState</span><span class="p">(</span><span class="n">pagingState</span><span class="p">)</span>
<span class="n">var</span> <span class="n">rs2</span> <span class="p">=</span> <span class="n">Session</span><span class="p">.</span><span class="nf">Execute</span><span class="p">(</span><span class="n">statement2</span><span class="p">);</span>
</code></pre>
<p>Note: The <code>PagingState</code> property is not encrypted and can be used to inject values to retrieve other partitions, so be
careful not to expose it to the end user.</p>

<h2 id="automatic-paging-in-linq-and-mapper-components" class="target">Automatic paging in LINQ and Mapper components<a class="anchor" href="#automatic-paging-in-linq-and-mapper-components" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>Both LINQ and Mapper queries support automatic paging: as you iterate through the mapped results, it fetches the
following pages. If you want to manually page, you can use Linq’s <code>ExecutePaged()</code> method, Mapper’s <code>FetchPage()</code>, or
their async counterparts.</p>

<p>A LINQ paging example:</p>
<pre class="highlight"><code><span class="c1">// Providing page size.
</span><span class="n">IPage</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">adminUsers</span> <span class="p">=</span> <span class="n">users</span>
   <span class="p">.</span><span class="nf">Where</span><span class="p">(</span><span class="n">u</span> <span class="p">=&gt;</span> <span class="n">u</span><span class="p">.</span><span class="n">Group</span> <span class="p">==</span> <span class="s">"admin"</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">SetPageSize</span><span class="p">(</span><span class="n">pageSize</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">ExecutePaged</span><span class="p">();</span>


<span class="c1">// Providing paging state (following pages).
</span><span class="n">IPage</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">adminUsers</span> <span class="p">=</span> <span class="n">users</span>
   <span class="p">.</span><span class="nf">Where</span><span class="p">(</span><span class="n">u</span> <span class="p">=&gt;</span> <span class="n">u</span><span class="p">.</span><span class="n">Group</span> <span class="p">==</span> <span class="s">"admin"</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">SetPageSize</span><span class="p">(</span><span class="n">pageSize</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">SetPagingState</span><span class="p">(</span><span class="n">pagingState</span><span class="p">)</span>
   <span class="p">.</span><span class="nf">ExecutePaged</span><span class="p">();</span>
</code></pre>
<p>A Mapper paging example:</p>
<pre class="highlight"><code><span class="n">IPage</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">users</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">FetchPage</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="n">pageSize</span><span class="p">,</span> <span class="n">pagingState</span><span class="p">,</span> <span class="n">query</span><span class="p">,</span> <span class="n">parameters</span><span class="p">);</span>

<span class="c1">// Or using query options
</span>
<span class="n">IPage</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">authors</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">FetchPage</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span>
      <span class="n">Cql</span><span class="p">.</span><span class="nf">New</span><span class="p">(</span><span class="n">query</span><span class="p">,</span> <span class="n">parameters</span><span class="p">).</span><span class="nf">WithOptions</span><span class="p">(</span><span class="n">opt</span> <span class="p">=&gt;</span>
            <span class="n">opt</span><span class="p">.</span><span class="nf">SetPageSize</span><span class="p">(</span><span class="n">pageSize</span><span class="p">).</span><span class="nf">SetPagingState</span><span class="p">(</span><span class="n">state</span><span class="p">)));</span>
</code></pre>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/csharp-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/csharp-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://docs.datastax.com/en/latest-csharp-driver-api/html/N_Cassandra.htm">API docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/projects/CSHARP/issues">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/csharp-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://www.nuget.org/packages/CassandraCSharpDriver">Nuget</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../js/jquery.js"></script>
    <script src="../../js/bootstrap.js"></script>
    <script src="../../js/angular.js"></script>
    <script src="../../js/mousetrap.js"></script>
    <script src="../../js/hotkeys.js"></script>
    <script src="../../js/ZeroClipboard.js"></script>
    <script src="../../js/lunr.js"></script>
    <script src="../../js/app.js"></script>
  </body>
</html>
