<!DOCTYPE html>
<html lang="en">
  <head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="DataStax C# Driver for Apache Cassandra">
    <meta name="author" content="DataStax">

    <title>DataStax C# Driver - Mapper component</title>

    <link rel="icon" href="../../../favicon.ico">
    <link rel="apple-touch-icon" href="../../../favicon.png">
    <link href="../../../css/style.css" rel="stylesheet">
    <link href="../../../css/pygments.css" rel="stylesheet">
    <link href="../../../css/hotkeys.css" rel="stylesheet">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body ng-app="docs" data-spy="scroll" data-target="#table-of-contents" data-offset="69">
    <header class="container-fluid navbar">
      <div class="row">
        <div class="col-sm-4">
          <a class="navbar-brand" href="../../../"><img alt="Brand" src="../../../img/logo.png">DataStax C# Driver</a>
        </div>
        <div class="col-md-4 col-md-offset-4">
          <div class="row">
            <div class="col-md-12">
              <ul class="list-inline" role="nav">
                <li><a href="https://academy.datastax.com/" class="navbar-link">DataStax Academy</a></li>
                <li><a href="http://www.datastax.com/dev/blog" class="navbar-link">Tech Blog</a></li>
                <li><a href="http://www.datastax.com/what-we-offer/products-services/support" class="navbar-link">Support</a></li>
              </ul>
            </div>
          </div>
          <div class="row">
            <div class="col-md-8">
              <form id="search" class="form-search dropdown visible-lg-block" ng-controller="search" ng-class="{open: hasResults}" role="search" ng-submit="submit()" data-spy="affix" data-offset-top="130">
                <div class="form-group has-feedback">
                  <input type="search" class="form-control input-sm mousetrap" placeholder="Search..." ng-model="q" ng-change="search('v3.0')" ng-disabled="!searchReady" disabled data-hotkey="{down: moveDown, up: moveUp, esc: reset}" data-search>
                </div>
                <ul class="dropdown-menu search-results" role="menu">
                  <li ng-repeat="result in results" ng-class="{'bg-warning': $index == current}"><a ng-href="{{basePath}}{{result.path}}"><span ng-bind-html="summary(result)"></span></a></li>
                </ul>
              </form>
            </div>
            <div class="col-md-4">
              <a href="http://www.datastax.com/download" class="btn btn-primary btn-sm">Download</a>
            </div>
          </div>
        </div>
      </div>
      <div class="row crumbs-wrapper">
        <div class="col-md-12">
          <nav id="crumbs" data-spy="affix" data-offset-top="130">
            <ol class="breadcrumb">
              
              
              
              
              <li><a href="../../../">Home</a></li>
              
              
              
              
              
              <li><a href="../../">Features</a></li>
              
              
              
              
              
              <li><a href="../">Driver components</a></li>
              
              
              
              
              
              <li class="active">Mapper component</li>
              <li class="dropdown" id="table-of-contents">
                <div class="btn-group">
                  <button id="current-section" type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown">
                    Jump to&#8230; <span class="caret"></span><span class="sr-only">Table of Contents</span>
                  </button>
                  <ul class="dropdown-menu nav nav-pills nav-stacked">
                    <li><a href="#mapper-component">Page Top <span class="glyphicon glyphicon-chevron-up" aria-hidden="true"></span></a></li>
<li><a href="#configuring-mappings">Configuring mappings
</a></li>
<li><a href="#mapper-api-example">Mapper API example
</a></li>
                  </ul>
                </div>
              </li>
              
              
              
            </ol>
          </nav>
        </div>
      </div>
    </header>

    <div class="container-fluid" id="content">
      <div class="row">
        <div class="col-md-3">
          <div id="navigation" class="side-nav" role="tablist" aria-multiselectable="true">
            <h3>Contents</h3>
            <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../../faq/">FAQ <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../../">Features <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../../address-resolution/">Address resolution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../automatic-failover/">Automatic failover <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../datatypes/">CQL data types to C# types <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../connection-heartbeat/">Connection heartbeat <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../connection-pooling/">Connection pooling <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="../">Driver components <small>page</small></a>
    <ul class="nav nav-pills nav-stacked">
  
  
  
  <li>
    <a href="../adonet/">ADO.NET <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../core/">Core component <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../linq/">Linq component <small>page</small></a>
  </li>
  
  
  
  
  <li class="active">
    <a href="./" class="current">Mapper component <small>page</small></a>
    
  </li>
  
  
</ul>

  </li>
  
  
  
  
  <li>
    <a href="../../parametrized-queries/">Parameterized queries <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../query-warnings/">Query warnings <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../paging/">Result paging <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../routing-queries/">Routing queries <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../speculative-retries/">Speculative query execution <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../tuning-policies/">Tuning policies <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../udfs/">User-defined functions and aggregates <small>page</small></a>
  </li>
  
  
  
  
  <li>
    <a href="../../udts/">User-defined types <small>page</small></a>
  </li>
  
  
</ul>

  </li>
  
  
</ul>

          </div>
        </div>
        <div class="col-md-9 content">
          

<h1 id="mapper-component" class="target">Mapper component<a class="anchor" href="#mapper-component" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h1>

<p>The Mapper component handles the mapping of CQL table columns to fields in your classes.</p>

<p>The Mapper component (previously known as <a href="https://github.com/LukeTillman/cqlpoco">cqlpoco</a>) is a lightweight object mapper for Apache Cassandra. It
lets you write queries with CQL, while it takes care of mapping rows returned from Cassandra to your classes.
It was inspired by <a href="https://github.com/toptensoftware/PetaPoco">PetaPoco</a>, NPoco, <a href="https://github.com/StackExchange/dapper-dot-net">Dapper.NET</a> and the <a href="https://github.com/cqlengine/cqlengine">cqlengine</a> project.</p>

<p>To use the Mapper:</p>

<p>1.- Add the following using statement to your class:</p>
<pre class="highlight"><code><span class="k">using</span> <span class="nn">Cassandra.Mapping</span><span class="p">;</span>
</code></pre>
<p>2.- Retrieve an <code>ISession</code> instance in the usual way and reuse that session within all the classes in your client
application.</p>

<p>3.- Instantiate a <code>Mapper</code> object using its constructor:</p>
<pre class="highlight"><code><span class="n">IMapper</span> <span class="n">mapper</span> <span class="p">=</span> <span class="k">new</span> <span class="nf">Mapper</span><span class="p">(</span><span class="n">session</span><span class="p">);</span>
</code></pre>
<p>New <code>Mapper</code> instances can be created each time they are needed, as short-lived instances, as long as you are
reusing the same <code>ISession</code> instance.</p>

<p>The Mapper works by mapping the column names in your CQL statement to the property names on your classes.</p>

<p>For example:</p>
<pre class="highlight"><code><span class="k">public</span> <span class="k">class</span> <span class="nc">User</span>
<span class="p">{</span>
   <span class="k">public</span> <span class="n">Guid</span> <span class="n">UserId</span> <span class="p">{</span> <span class="k">get</span><span class="p">;</span> <span class="k">set</span><span class="p">;</span> <span class="p">}</span>
   <span class="k">public</span> <span class="kt">string</span> <span class="n">Name</span> <span class="p">{</span> <span class="k">get</span><span class="p">;</span> <span class="k">set</span><span class="p">;</span> <span class="p">}</span>
<span class="p">}</span>

<span class="c1">// Get a list of users from Cassandra
</span><span class="n">IEnumerable</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">users</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">Fetch</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"SELECT userid, name FROM users"</span><span class="p">);</span>
<span class="n">IEnumerable</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">users</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">Fetch</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"SELECT * FROM users WHERE name = ?"</span><span class="p">,</span> <span class="n">someName</span><span class="p">);</span>
</code></pre>
<p>Simple scenarios such as this are possible without doing any further mapping configuration. When using parameters, 
use query markers (<code>?</code>) instead of hardcoded stringified values, this improves serialization performance and lower
memory consumption.</p>

<p>The Mapper will create new instances of your classes using the parameter-less constructor.</p>

<h2 id="configuring-mappings" class="target">Configuring mappings<a class="anchor" href="#configuring-mappings" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>In many scenarios, you need more control over how your class maps to a CQL table. You have two ways of configuring the
Mapper:</p>

<ul>
<li>decorate your classes with attributes</li>
<li>define mappings in code using the fluent interface</li>
</ul>

<p>An example using the fluent interface:</p>
<pre class="highlight"><code><span class="n">MappingConfiguration</span><span class="p">.</span><span class="n">Global</span><span class="p">.</span><span class="nf">Define</span><span class="p">(</span>
   <span class="k">new</span> <span class="n">Map</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;()</span>
      <span class="p">.</span><span class="nf">TableName</span><span class="p">(</span><span class="s">"users"</span><span class="p">)</span>
      <span class="p">.</span><span class="nf">PartitionKey</span><span class="p">(</span><span class="n">u</span> <span class="p">=&gt;</span> <span class="n">u</span><span class="p">.</span><span class="n">UserId</span><span class="p">)</span>
      <span class="p">.</span><span class="nf">Column</span><span class="p">(</span><span class="n">u</span> <span class="p">=&gt;</span> <span class="n">u</span><span class="p">.</span><span class="n">UserId</span><span class="p">,</span> <span class="n">cm</span> <span class="p">=&gt;</span> <span class="n">cm</span><span class="p">.</span><span class="nf">WithName</span><span class="p">(</span><span class="s">"id"</span><span class="p">)));</span>
</code></pre>
<p>You can also create a class to group all your mapping definitions.</p>
<pre class="highlight"><code><span class="k">public</span> <span class="k">class</span> <span class="nc">MyMappings</span> <span class="p">:</span> <span class="n">Mappings</span>
<span class="p">{</span>
   <span class="k">public</span> <span class="nf">MyMappings</span><span class="p">()</span>
   <span class="p">{</span>
       <span class="c1">// Define mappings in the constructor of your class
</span>       <span class="c1">// that inherits from Mappings
</span>       <span class="n">For</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;()</span>
          <span class="p">.</span><span class="nf">TableName</span><span class="p">(</span><span class="s">"users"</span><span class="p">)</span>
          <span class="p">.</span><span class="nf">PartitionKey</span><span class="p">(</span><span class="n">u</span> <span class="p">=&gt;</span> <span class="n">u</span><span class="p">.</span><span class="n">UserId</span><span class="p">)</span>
          <span class="p">.</span><span class="nf">Column</span><span class="p">(</span><span class="n">u</span> <span class="p">=&gt;</span> <span class="n">u</span><span class="p">.</span><span class="n">UserId</span><span class="p">,</span> <span class="n">cm</span> <span class="p">=&gt;</span> <span class="n">cm</span><span class="p">.</span><span class="nf">WithName</span><span class="p">(</span><span class="s">"id"</span><span class="p">)));</span>
       <span class="n">For</span><span class="p">&lt;</span><span class="n">Comment</span><span class="p">&gt;()</span>
          <span class="p">.</span><span class="nf">TableName</span><span class="p">(</span><span class="s">"comments"</span><span class="p">);</span>
   <span class="p">}</span>
<span class="p">}</span>
</code></pre>
<p>Then, you can assign the mappings class in your configuration.</p>
<pre class="highlight"><code><span class="n">MappingConfiguration</span><span class="p">.</span><span class="n">Global</span><span class="p">.</span><span class="n">Define</span><span class="p">&lt;</span><span class="n">MyMappings</span><span class="p">&gt;();</span>
</code></pre>
<h2 id="mapper-api-example" class="target">Mapper API example<a class="anchor" href="#mapper-api-example" aria-hidden="true"><span class="glyphicon glyphicon-link"></span></a>
</h2>

<p>A simple query example is great, but the Mapper has many other methods for doing things like Inserts, Updates, Deletes,
selecting a single record and more. And all methods have async counterparts. Here’s a quick sampling.</p>
<pre class="highlight"><code><span class="c1">// All query methods (Fetch, Single, First, etc.) will auto generate
// the SELECT and FROM clauses if not specified.
</span><span class="n">IEnumerable</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">users</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">Fetch</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;();</span>
<span class="n">IEnumerable</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">users</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">Fetch</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"FROM users WHERE name = ?"</span><span class="p">,</span> <span class="n">someName</span><span class="p">);</span>
<span class="n">IEnumerable</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;</span> <span class="n">users</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">Fetch</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"WHERE name = ?"</span><span class="p">,</span> <span class="n">someName</span><span class="p">);</span>

<span class="c1">// Single and SingleOrDefault for getting a single record 
</span><span class="n">var</span> <span class="n">user</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">Single</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"WHERE userid = ?"</span><span class="p">,</span> <span class="n">userId</span><span class="p">);</span> 
<span class="n">var</span> <span class="n">user</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">SingleOrDefault</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"WHERE userid = ?"</span><span class="p">,</span> <span class="n">userId</span><span class="p">);</span>

<span class="c1">// First and FirstOrDefault for getting first record 
</span><span class="n">var</span> <span class="n">user</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">First</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"SELECT * FROM users"</span><span class="p">);</span> 
<span class="n">var</span> <span class="n">user</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">FirstOrDefault</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"SELECT * FROM users"</span><span class="p">);</span>

<span class="c1">// All query methods also support "flattening" to just the column's value type when 
// selecting a single column 
</span><span class="n">Guid</span> <span class="n">userId</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">First</span><span class="p">&lt;</span><span class="n">Guid</span><span class="p">&gt;(</span><span class="s">"SELECT userid FROM users"</span><span class="p">);</span> 
<span class="n">IEnumerable</span><span class="p">&lt;</span><span class="kt">string</span><span class="p">&gt;</span> <span class="n">names</span> <span class="p">=</span> <span class="n">mapper</span><span class="p">.</span><span class="n">Fetch</span><span class="p">&lt;</span><span class="kt">string</span><span class="p">&gt;(</span><span class="s">"SELECT name FROM users"</span><span class="p">);</span>

<span class="c1">// Insert a POCO var newUser = new User { UserId = Guid.NewGuid(), Name = "SomeNewUser" }; 
</span><span class="n">mapper</span><span class="p">.</span><span class="nf">Insert</span><span class="p">(</span><span class="n">newUser</span><span class="p">);</span>

<span class="c1">// Update with POCO someUser.Name = "A new name!"; 
</span><span class="n">mapper</span><span class="p">.</span><span class="nf">Update</span><span class="p">(</span><span class="n">someUser</span><span class="p">);</span>

<span class="c1">// Update with CQL (will prepend table name to CQL) 
</span><span class="n">mapper</span><span class="p">.</span><span class="n">Update</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"SET name = ? WHERE id = ?"</span><span class="p">,</span> <span class="n">someNewName</span><span class="p">,</span> <span class="n">userId</span><span class="p">);</span>

<span class="c1">// Delete with POCO 
</span><span class="n">mapper</span><span class="p">.</span><span class="nf">Delete</span><span class="p">(</span><span class="n">someUser</span><span class="p">);</span>

<span class="c1">// Delete with CQL (will prepend table name to CQL) 
</span><span class="n">mapper</span><span class="p">.</span><span class="n">Delete</span><span class="p">&lt;</span><span class="n">User</span><span class="p">&gt;(</span><span class="s">"WHERE id = ?"</span><span class="p">,</span> <span class="n">userId</span><span class="p">);</span>
</code></pre>


        </div>
      </div>
    </div>

    
    <footer class="container text-muted">
      <ul class="list-inline">
      
        
        <li>
          <a href="https://github.com/datastax/csharp-driver/">Code</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://datastax.github.io/csharp-driver/">Docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="http://docs.datastax.com/en/latest-csharp-driver-api/html/N_Cassandra.htm">API docs</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://datastax-oss.atlassian.net/projects/CSHARP/issues">Issues</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://groups.google.com/a/lists.datastax.com/forum/#!forum/csharp-driver-user">Mailing List</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="irc://irc.freenode.net/datastax-drivers">IRC Channel</a>
        </li>
      
        <li>·</li>
        <li>
          <a href="https://www.nuget.org/packages/CassandraCSharpDriver">Nuget</a>
        </li>
      
      </ul>
    </footer>
    

    <script src="../../../js/jquery.js"></script>
    <script src="../../../js/bootstrap.js"></script>
    <script src="../../../js/angular.js"></script>
    <script src="../../../js/mousetrap.js"></script>
    <script src="../../../js/hotkeys.js"></script>
    <script src="../../../js/ZeroClipboard.js"></script>
    <script src="../../../js/lunr.js"></script>
    <script src="../../../js/app.js"></script>
  </body>
</html>
